extends layout
block content
  .w3-container
    .w3-card-4
      header.w3-container.w3-indigo
        h3 MyUpload (nodeJS)
      .w3-container
        form.w3-container(id="myUploadForm")
          h4 Upload COM javascript
          label.w3-text-indigo
            b Ficheiro
          input.w3-input.w3-border.w3-light-grey(type="file", name="ficheiro")
          label.w3-text-indigo
            b Descrição
          input.w3-input.w3-border.w3-light-grey(type="text", name="descricao")
          button.w3-button.w3-blue-grey(id="adicionar") Adicionar ficheiro
      .w3-container
        form.w3-container(id="myUploadForm2" action="/file/guardar" method="POST" enctype="multipart/form-data")
          h4 Upload SEM javascript :D
          label.w3-text-indigo
            b Ficheiro
          input.w3-input.w3-border.w3-light-grey(type="file", name="ficheiro")
          label.w3-text-indigo
            b Descrição
          input.w3-input.w3-border.w3-light-grey(type="text", name="descricao")
          button.w3-button.w3-blue-grey(id="adicionar2" type="submit") Adicionar ficheiro
      header.w3-container.w3-indigo
        h3 Lista de ficheiros
      .w3-container
        input.w3-button.w3-blue-grey(type="button", value="Hide List")#hide
        input.w3-button.w3-blue-grey(type="button", value="Show List")#show
      .w3-container
        table.w3-table-all(id="files")
      include footer